__pycache__
account-details.txt
build
cache.txt
dist/job-crawler-*
fasttext-model/cc.en.100.bin
fasttext-model/cc.en.300.bin
questionnaire.xlsx
saved_input.bin
saved_input2.bin
submissions.xlsx
*.spec
venv
