[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fasttext-wheel = "*"
beautifulsoup4 = "*"
fake-useragent = "*"
lxml = "*"
openpyxl = "*"
pandas = "*"
pillow = "*"
scipy = "*"
selenium = "*"
undetected-chromedriver = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
